.link {
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    padding: 0 1rem;
    background: #eeeef8;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
