<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Apex Charts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Apex Mixed Charts</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Mixed Charts Line Column -->
<div class="row">
    <div class="col-lg-12">
        <app-mixed-charts-line-column></app-mixed-charts-line-column>
    </div>
</div>

<!-- Mixed Multiple Y-Axis Charts -->
<div class="row">
    <div class="col-lg-12">
        <app-mixed-multiple-y-axis></app-mixed-multiple-y-axis>
    </div>
</div>

<!-- Mixed Line & Area Charts -->
<div class="row">
    <div class="col-lg-12">
        <app-mixed-line-area-charts></app-mixed-line-area-charts>
    </div>
</div>

<!-- Mixed Line Column Area Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-mixed-line-column-area-chart></app-mixed-line-column-area-chart>
    </div>
</div>
