<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Feather Icons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Feather Icons</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Feather Icons -->
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="user" class="icon"></i>
            <span>user</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="user-check" class="icon"></i>
            <span>user-check</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="user-minus" class="icon"></i>
            <span>user-minus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="user-plus" class="icon"></i>
            <span>user-plus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="user-x" class="icon"></i>
            <span>user-x</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="users" class="icon"></i>
            <span>users</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="inbox" class="icon"></i>
            <span>inbox</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="activity" class="icon"></i>
            <span>activity</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="gift" class="icon"></i>
            <span>gift</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="airplay" class="icon"></i>
            <span>airplay</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="alert-circle" class="icon"></i>
            <span>alert-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="alert-octagon" class="icon"></i>
            <span>alert-octagon</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="alert-triangle" class="icon"></i>
            <span>alert-triangle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="align-center" class="icon"></i>
            <span>align-center</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="align-justify" class="icon"></i>
            <span>align-justify</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="align-left" class="icon"></i>
            <span>align-left</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="align-right" class="icon"></i>
            <span>align-right</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="aperture" class="icon"></i>
            <span>aperture</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="archive" class="icon"></i>
            <span>archive</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-down-circle" class="icon"></i>
            <span>arrow-down-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-down" class="icon"></i>
            <span>arrow-down</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-left-circle" class="icon"></i>
            <span>arrow-left-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-left" class="icon"></i>
            <span>arrow-left</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-down-right" class="icon"></i>
            <span>arrow-down-right</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-right" class="icon"></i>
            <span>arrow-right</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-up-circle" class="icon"></i>
            <span>arrow-up-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="arrow-up" class="icon"></i>
            <span>arrow-up</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="at-sign" class="icon"></i>
            <span>at-sign</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="award" class="icon"></i>
            <span>award</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="bar-chart-2" class="icon"></i>
            <span>bar-chart-2</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="bar-chart" class="icon"></i>
            <span>bar-chart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="bell" class="icon"></i>
            <span>bell</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="bell-off" class="icon"></i>
            <span>bell-off</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="bookmark" class="icon"></i>
            <span>bookmark</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="briefcase" class="icon"></i>
            <span>briefcase</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="calendar" class="icon"></i>
            <span>calendar</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="camera" class="icon"></i>
            <span>camera</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="check-circle" class="icon"></i>
            <span>check-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="check-square" class="icon"></i>
            <span>check-square</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="check" class="icon"></i>
            <span>check</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="chevron-down" class="icon"></i>
            <span>chevron-down</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="chevron-left" class="icon"></i>
            <span>chevron-left</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="chevron-right" class="icon"></i>
            <span>chevron-right</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="chevron-up" class="icon"></i>
            <span>chevron-up</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="clock" class="icon"></i>
            <span>clock</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="code" class="icon"></i>
            <span>code</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="copy" class="icon"></i>
            <span>copy</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="credit-card" class="icon"></i>
            <span>credit-card</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="database" class="icon"></i>
            <span>database</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="delete" class="icon"></i>
            <span>delete</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="dollar-sign" class="icon"></i>
            <span>dollar-sign</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="download" class="icon"></i>
            <span>download</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="edit" class="icon"></i>
            <span>edit</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="edit-2" class="icon"></i>
            <span>edit2</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="edit-3" class="icon"></i>
            <span>edit3</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="external-link" class="icon"></i>
            <span>external-link</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="eye" class="icon"></i>
            <span>eye</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="facebook" class="icon"></i>
            <span>facebook</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="twitter" class="icon"></i>
            <span>twitter</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="linkedin" class="icon"></i>
            <span>linkedin</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="file" class="icon"></i>
            <span>file</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="file-plus" class="icon"></i>
            <span>file-plus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="file-minus" class="icon"></i>
            <span>file-minus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="flag" class="icon"></i>
            <span>flag</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="folder" class="icon"></i>
            <span>folder</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="frown" class="icon"></i>
            <span>frown</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="grid" class="icon"></i>
            <span>grid</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="headphones" class="icon"></i>
            <span>headphones</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="heart" class="icon"></i>
            <span>heart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="help-circle" class="icon"></i>
            <span>help-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="home" class="icon"></i>
            <span>home</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="info" class="icon"></i>
            <span>info</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="layers" class="icon"></i>
            <span>layers</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="layout" class="icon"></i>
            <span>layout</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="link" class="icon"></i>
            <span>Link</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="list" class="icon"></i>
            <span>list</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="lock" class="icon"></i>
            <span>lock</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="log-in" class="icon"></i>
            <span>login</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="log-out" class="icon"></i>
            <span>logout</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="mail" class="icon"></i>
            <span>mail</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="map-pin" class="icon"></i>
            <span>map-pin</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="map" class="icon"></i>
            <span>map</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="menu" class="icon"></i>
            <span>menu</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="meh" class="icon"></i>
            <span>meh</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="message-circle" class="icon"></i>
            <span>message-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="message-square" class="icon"></i>
            <span>message-square</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="mic" class="icon"></i>
            <span>mic</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="minus-circle" class="icon"></i>
            <span>minus-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="minus" class="icon"></i>
            <span>minus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="monitor" class="icon"></i>
            <span>monitor</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="moon" class="icon"></i>
            <span>moon</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="move" class="icon"></i>
            <span>move</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="music" class="icon"></i>
            <span>music</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="package" class="icon"></i>
            <span>package</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone-call" class="icon"></i>
            <span>phone-call</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone-forwarded" class="icon"></i>
            <span>phone-forwarded</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone-forwarded" class="icon"></i>
            <span>phone-incoming</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone-missed" class="icon"></i>
            <span>phone-missed</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone-off" class="icon"></i>
            <span>phone-off</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone-outgoing" class="icon"></i>
            <span>phone-outgoing</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="phone" class="icon"></i>
            <span>phone</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="pie-chart" class="icon"></i>
            <span>pie-chart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="play" class="icon"></i>
            <span>play</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="plus" class="icon"></i>
            <span>plus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="power" class="icon"></i>
            <span>power</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="printer" class="icon"></i>
            <span>printer</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="refresh-ccw" class="icon"></i>
            <span>refresh-ccw</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="save" class="icon"></i>
            <span>save</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="search" class="icon"></i>
            <span>search</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="send" class="icon"></i>
            <span>send</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="server" class="icon"></i>
            <span>server</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="settings" class="icon"></i>
            <span>settings</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="share" class="icon"></i>
            <span>share</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="share-2" class="icon"></i>
            <span>share2</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="shopping-bag" class="icon"></i>
            <span>shopping-bag</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="shopping-cart" class="icon"></i>
            <span>shopping-cart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="star" class="icon"></i>
            <span>star</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="thumbs-up" class="icon"></i>
            <span>thumbs-up</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="thumbs-down" class="icon"></i>
            <span>thumbs-down</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="trash" class="icon"></i>
            <span>trash</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="trash-2" class="icon"></i>
            <span>trash2</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="trello" class="icon"></i>
            <span>trello</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="trending-up" class="icon"></i>
            <span>trending-up</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="trending-down" class="icon"></i>
            <span>trending-down</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="upload" class="icon"></i>
            <span>upload</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="wifi" class="icon"></i>
            <span>wifi</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="x-circle" class="icon"></i>
            <span>x-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i data-feather="x" class="icon"></i>
            <span>x</span>
        </div>
    </div>
</div>
<!-- End Feather Icons -->
