<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Apex Charts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Apex Line Charts</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Basic Line Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-line-chart></app-line-chart>
    </div>
</div>

<!-- Line with Data Labels Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-line-with-data-labels></app-line-with-data-labels>
    </div>
</div>

<!-- Annotations Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-annotations-chart></app-annotations-chart>
    </div>
</div>

<!-- Gradient Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-gradient-chart></app-gradient-chart>
    </div>
</div>

<!-- Dashed Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-dashed-chart></app-dashed-chart>
    </div>
</div>
