<!-- Main Content Header -->
<div class="main-content-header">
    <h1>IconFont Icons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales" role="button">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="active">IconFont Icons</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- IconFont Icons -->
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-addons"></i>
            <span>addons</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-address-book"></i>
            <span>address-book</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-adjust"></i>
            <span>adjust</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-alarm"></i>
            <span>alarm</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-anchor"></i>
            <span>anchor</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-archive"></i>
            <span>archive</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-at"></i>
            <span>at</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-attachment"></i>
            <span>attachment</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-audio"></i>
            <span>audio</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-automation"></i>
            <span>automation</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-badge"></i>
            <span>badge</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bag-alt"></i>
            <span>bag-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bag"></i>
            <span>bag</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-ban"></i>
            <span>ban</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bar-code"></i>
            <span>bar-code</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bars"></i>
            <span>bars</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-basket"></i>
            <span>basket</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bed"></i>
            <span>bed</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bell"></i>
            <span>bell</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-beverage"></i>
            <span>beverage</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bin"></i>
            <span>bin</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-binary"></i>
            <span>binary</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-binoculars"></i>
            <span>binoculars</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bluetooth"></i>
            <span>bluetooth</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bomb"></i>
            <span>bomb</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-book-mark"></i>
            <span>book-mark</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-box"></i>
            <span>box</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-briefcase"></i>
            <span>briefcase</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-broken"></i>
            <span>broken</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bucket"></i>
            <span>bucket</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bug"></i>
            <span>bug</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-building"></i>
            <span>building</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bulb-alt"></i>
            <span>bulb-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bullhorn"></i>
            <span>bullhorn</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bullseye"></i>
            <span>bullseye</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-calendar"></i>
            <span>calendar</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-camera"></i>
            <span>camera</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-card"></i>
            <span>card</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-cart-alt"></i>
            <span>cart-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-cart"></i>
            <span>cart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-chat"></i>
            <span>chat</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-check-alt"></i>
            <span>check-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-check-circled"></i>
            <span>check-circled</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-check"></i>
            <span>check</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-checked"></i>
            <span>checked</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-clock-time"></i>
            <span>clock-time</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-close-circled"></i>
            <span>close-circled</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-close-line-circled"></i>
            <span>close-line-circled</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-cloud-download"></i>
            <span>cloud-download</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-code"></i>
            <span>code</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-comment"></i>
            <span>comment</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-computer"></i>
            <span>computer</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-contacts"></i>
            <span>contacts</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-copyright"></i>
            <span>copyright</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-credit-card"></i>
            <span>credit-card</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-crop"></i>
            <span>crop</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-dashboard"></i>
            <span>dashboard</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-data"></i>
            <span>data</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-database-add"></i>
            <span>database-add</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-database-locked"></i>
            <span>database-locked</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-database-remove"></i>
            <span>database-remove</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-database"></i>
            <span>database</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-download"></i>
            <span>download</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-envelope-open"></i>
            <span>envelope-open</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-envelope"></i>
            <span>envelope</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-exclamation-tringle"></i>
            <span>exclamation-tringle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-exclamation"></i>
            <span>exclamation</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-exit"></i>
            <span>exit</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-eye-alt"></i>
            <span>eye-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-eye"></i>
            <span>eye</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-favourite"></i>
            <span>favourite</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-fax"></i>
            <span>fax</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-filter"></i>
            <span>filter</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-fire-alt"></i>
            <span>fire-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-flag"></i>
            <span>flag</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-flash"></i>
            <span>flash</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-folder"></i>
            <span>folder</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-gear"></i>
            <span>gear</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-gears"></i>
            <span>gears</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-grocery"></i>
            <span>grocery</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-hand"></i>
            <span>hand</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-heart-alt"></i>
            <span>heart-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-heart"></i>
            <span>heart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-home"></i>
            <span>home</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-inbox"></i>
            <span>inbox</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-info-circle"></i>
            <span>info-circle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-info"></i>
            <span>info</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-institution"></i>
            <span>institution</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-key"></i>
            <span>key</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-layers"></i>
            <span>layers</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-layout"></i>
            <span>layout</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-leaf"></i>
            <span>leaf</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-letter"></i>
            <span>letter</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-learn"></i>
            <span>learn</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-light-bulb"></i>
            <span>light-bulb</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-like"></i>
            <span>like</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-link"></i>
            <span>link</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-live-support"></i>
            <span>live-support</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-location-pin"></i>
            <span>location-pin</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-lock"></i>
            <span>lock</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-login"></i>
            <span>login</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-logout"></i>
            <span>logout</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-map-pins"></i>
            <span>map-pins</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-minus"></i>
            <span>minus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-mobile-phone"></i>
            <span>mobile-phone</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-moon"></i>
            <span>moon</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-not-allowed"></i>
            <span>not-allowed</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-notebook"></i>
            <span>notebook</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-notepad"></i>
            <span>notepad</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-notification"></i>
            <span>notification</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-options"></i>
            <span>options</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-pay"></i>
            <span>pay</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-phone"></i>
            <span>phone</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bell"></i>
            <span>bell</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-plugin"></i>
            <span>plugin</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-plus"></i>
            <span>plus</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-power"></i>
            <span>power</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-print"></i>
            <span>print</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-question"></i>
            <span>question</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-quote-left"></i>
            <span>quote-left</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-quote-right"></i>
            <span>quote-right</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-random"></i>
            <span>random</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-recycle"></i>
            <span>recycle</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-repair"></i>
            <span>repair</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-reply-all"></i>
            <span>reply-all</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-reply"></i>
            <span>reply</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-responsive"></i>
            <span>responsive</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-send-mail"></i>
            <span>send-mail</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-server"></i>
            <span>server</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-settings-alt"></i>
            <span>settings-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-settings"></i>
            <span>settings</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-share"></i>
            <span>share</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-shopping-cart"></i>
            <span>shopping-cart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-sign-in"></i>
            <span>sign-in</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-sign-out"></i>
            <span>sign-out</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-signal"></i>
            <span>signal</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-site-map"></i>
            <span>site-map</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-smart-phone"></i>
            <span>smart-phone</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-soccer"></i>
            <span>soccer</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-space"></i>
            <span>space</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-spanner"></i>
            <span>spanner</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-speed-meter"></i>
            <span>speed-meter</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-spinner-alt-1"></i>
            <span>spinner-alt-1</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-spinner"></i>
            <span>spinner</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-star"></i>
            <span>star</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-street-view"></i>
            <span>street-view</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tag"></i>
            <span>tag</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tasks"></i>
            <span>tasks</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-thumbs-down"></i>
            <span>thumbs-down</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-thumbs-up"></i>
            <span>thumbs-up</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tick-mark"></i>
            <span>tick-mark</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tie"></i>
            <span>tie</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tools-alt-2"></i>
            <span>tools-alt-2</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tools"></i>
            <span>tools</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-touch"></i>
            <span>touch</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-verification-check"></i>
            <span>verification-check</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-zipped"></i>
            <span>zipped</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-world"></i>
            <span>world</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-wifi"></i>
            <span>wifi</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-web"></i>
            <span>web</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-water-drop"></i>
            <span>water-drop</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-warning"></i>
            <span>warning</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-warning-alt"></i>
            <span>warning-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-wallet"></i>
            <span>wallet</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-wall"></i>
            <span>wall</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-wall-clock"></i>
            <span>wall-clock</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-usb"></i>
            <span>usb</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-usb-drive"></i>
            <span>usb-drive</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-upload"></i>
            <span>upload</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-upload-alt"></i>
            <span>upload-alt</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-lock"></i>
            <span>lock</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-unlock"></i>
            <span>unlock</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-unique-idea"></i>
            <span>unique-idea</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-tree"></i>
            <span>tree</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-facebook"></i>
            <span>facebook</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-twitter"></i>
            <span>twitter</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-linkedin"></i>
            <span>linkedin</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-linkedin"></i>
            <span>instagram</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-500px"></i>
            <span>500px</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-aim"></i>
            <span>aim</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-badoo"></i>
            <span>badoo</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-baidu-tieba"></i>
            <span>baidu-tieba</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bbm-messenger"></i>
            <span>bbm-messenger</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bebo"></i>
            <span>bebo</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-behance"></i>
            <span>behance</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-blogger"></i>
            <span>blogger</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-bootstrap"></i>
            <span>bootstrap</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-brightkite"></i>
            <span>brightkite</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-cloudapp"></i>
            <span>cloudapp</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-concrete5"></i>
            <span>concrete5</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-delicious"></i>
            <span>delicious</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-designbump"></i>
            <span>designbump</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-designfloat"></i>
            <span>designfloat</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-deviantart"></i>
            <span>deviantart</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-digg"></i>
            <span>digg</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-dotcms"></i>
            <span>dotcms</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-dribbble"></i>
            <span>dribbble</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-dropbox"></i>
            <span>dropbox</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-ebuddy"></i>
            <span>ebuddy</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-ello"></i>
            <span>ello</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-ember"></i>
            <span>ember</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-envato"></i>
            <span>envato</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-evernote"></i>
            <span>evernote</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-facebook-messenger"></i>
            <span>facebook-messenger</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-feedburner"></i>
            <span>feedburner</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-flikr"></i>
            <span>flikr</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-folkd"></i>
            <span>folkd</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-foursquare"></i>
            <span>foursquare</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-friendfeed"></i>
            <span>friendfeed</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-ghost"></i>
            <span>ghost</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-github"></i>
            <span>github</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-gnome"></i>
            <span>gnome</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-google-buzz"></i>
            <span>google-buzz</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-google-hangouts"></i>
            <span>google-hangouts</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-google-map"></i>
            <span>google-map</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="icon-preview hover-card mb-4">
            <i class="icofont-2x icofont-stack-overflow"></i>
            <span>stack-overflow</span>
        </div>
    </div>
</div>
<!-- End IconFont Icons -->
