<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Alerts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Alerts</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<div class="row">
    <!-- Rounded Alerts -->
    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Rounded Alerts</h5>
                </div>

                <div class="alert alert-primary rounded">
                    This is a primary alert—check it out!
                </div>
                <div class="alert alert-secondary rounded">
                    This is a secondary alert—check it out!
                </div>
                <div class="alert alert-success rounded">
                    This is a success alert—check it out!
                </div>
                <div class="alert alert-danger rounded">
                    This is a danger alert—check it out!
                </div>
                <div  class="alert alert-warning rounded">
                    This is a warning alert—check it out!
                </div>
                <div class="alert alert-info rounded">
                    This is a info alert—check it out!
                </div>
                <div  class="alert alert-light rounded">
                    This is a light alert—check it out!
                </div>
                <div class="alert alert-dark rounded">
                    This is a dark alert—check it out!
                </div>
            </div>
        </div>
    </div>
    <!-- End Rounded Alerts -->

    <!-- Default Alerts -->
    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Default Alerts</h5>
                </div>

                <div class="alert alert-primary">
                    This is a primary alert—check it out!
                </div>
                <div class="alert alert-secondary">
                    This is a secondary alert—check it out!
                </div>
                <div class="alert alert-success">
                    This is a success alert—check it out!
                </div>
                <div class="alert alert-danger">
                    This is a danger alert—check it out!
                </div>
                <div  class="alert alert-warning">
                    This is a warning alert—check it out!
                </div>
                <div class="alert alert-info">
                    This is a info alert—check it out!
                </div>
                <div  class="alert alert-light">
                    This is a light alert—check it out!
                </div>
                <div class="alert alert-dark">
                    This is a dark alert—check it out!
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Alerts -->
</div>

<div class="row">
    <!-- Link Alerts -->
    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Link Alerts</h5>
                </div>

                <div class="alert alert-primary" role="alert">
                    A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-secondary" role="alert">
                    A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-success" role="alert">
                    A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-danger" role="alert">
                    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-warning" role="alert">
                    A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-info" role="alert">
                    A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-light" role="alert">
                    A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-dark" role="alert">
                    A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Alerts -->

    <!-- Dismissing Alerts -->
    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Dismissing Alerts</h5>
                </div>

                <div class="alert alert-primary alert-dismissible rounded">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-secondary alert-dismissible rounded">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-success alert-dismissible rounded">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-danger alert-dismissible rounded">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-light alert-dismissible">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>

                <div class="alert alert-dark alert-dismissible">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    I am an alert and I can be dismissed!
                </div>
            </div>
        </div>
    </div>
    <!-- End Dismissing Alerts -->

    <!-- Additional content Alerts -->
    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Additional content Alerts</h5>
                </div>

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Alerts -->

    <div class="col-lg-6">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Large Alerts</h5>
                </div>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close alert</span>
                    </button>
                    <div class="alert-heading h5 line-height-1-4">Oh snap! You got an error! Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</div>
                </div>
            </div>
        </div>
    </div>
</div>
