<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Notes</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Notes</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Notes -->
<div class="row">
    <div class="col-lg-4">
        <div class="notes-card mb-30">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card primary mb-30">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card secondary mb-30">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card secondary mb-30">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</li>
            </ul>

            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card danger mb-30">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</li>
            </ul>

            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card warning mb-30">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</li>
            </ul>

            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card info mb-30">
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</li>
            </ol>

            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card light mb-30">
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</li>
            </ol>

            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card dark mb-30">
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</li>
            </ol>

            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card secondary mb-30">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card info mb-30">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="notes-card primary mb-30">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <button type="button" class="btn btn-danger close-notes">
                <span class="lni-close"></span>
            </button>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card mb-30">
            <div class="card-body">
                <div class="notes-content">
                    <form>
                        <textarea rows="4" placeholder="Add your notes.." class="form-control"></textarea>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Notes -->
