<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Todos</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Todos</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Todo List Style One -->
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-30">
            <div class="card-body todo-list">
                <div class="card-header">
                    <h5 class="card-title">Todo List</h5>
                </div>

                <form class="add-new-task">
                    <input placeholder="What do you need to do today?" type="text" class="form-control" value="">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>

                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox" checked="">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Meeting with Aaron Rossi</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Pick up kids from school</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Print Statements</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Prepare for presentation</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Take a training class</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Getting speech an event</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Meeting with team</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox" checked="">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Attending a seminar</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Project meeting</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Meeting with team</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Prepare for presentation</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Getting speech an event</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Project meeting</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Attending a seminar</span>
                                <button type="button" class="close-btn btn btn-danger">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Todo List Style One -->

<!-- Todo List Style Two -->
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-30">
            <div class="card-body todo-list-style-two">
                <div class="card-header">
                    <h5 class="card-title">Todo List Style Two</h5>
                </div>

                <form class="add-new-task">
                    <input placeholder="What do you need to do today?" type="text" class="form-control" value="">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>

                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox" checked="">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Take a training class</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Pick up kids from school</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Print Statements</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Meeting with team</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Create invoice</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox" checked="">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Attending a seminar</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Project meeting</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Attending a seminar</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Prepare for presentation</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                            <li>
                                <label class="control control-checkbox">
                                    <input type="checkbox">
                                    <span class="control-indicator"></span>
                                </label>
                                <span class="task">Meeting with team</span>
                                <button type="button" class="close-btn btn">
                                    <i data-feather="x" class="icon wh-15 mt-minus-4"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Todo List Style Two -->
