<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Apex Charts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/" role="button">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="active">Apex Pie and Donuts Charts</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Simple Pie & Donut Chart -->
<div class="row">
    <div class="col-lg-6">
        <app-simple-pie-chart></app-simple-pie-chart>
    </div>

    <div class="col-lg-6">
        <app-simple-donut-chart></app-simple-donut-chart>
    </div>
</div>

<!-- Monochrome Pie & Gradient Donut Chart -->
<div class="row">
    <div class="col-lg-6">
        <app-monochrome-pie-chart></app-monochrome-pie-chart>
    </div>

    <div class="col-lg-6">
        <app-gradient-donut-chart></app-gradient-donut-chart>
    </div>
</div>
