<div class="card mb-30">
    <div class="card-body">
        <div class="card-header">
            <a href="#" class="btn btn-primary float-right">View all</a>
            <h5 class="card-title">Order Summary</h5>
        </div>

        <div class="m-t-30">
            <div class="d-md-flex">
                <div class="pr-4 mt-2 border-right border-hide-sm">
                    <p class="mb-0 fs-13">Net Revenue</p>
                    <h5 class="mb-0">
                        <span>$50,525</span>
                        <span class="primary-text ml-1 fs-13">+8.71%</span>
                    </h5>
                </div>

                <div class="px-md-4 mt-2 border-right border-hide-md">
                    <p class="mb-0 fs-13">Selling</p>
                    <h5 class="mb-0">
                        <span>$20,520</span>
                        <span class="danger-text m-l-10 fs-13">+2.82%</span>
                    </h5>
                </div>

                <div class="px-md-4 mt-2">
                    <p class="mb-0 fs-13">Cost</p>
                    <h5 class="mb-0">
                        <span>$7,317</span>
                        <span class="primary-text ml-1 fs-13">+10.2%</span>
                    </h5>
                </div>
            </div>
        </div>

        <div id="order-summary"></div>
    </div>
</div>
