<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Time Line</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Time Line</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Time line -->
<div class="timeline-centered">
    <article class="timeline-card left-aligned">
        <div class="timeline-body">
            <time class="time">
                <span>Saturday</span>
                <span>13 March 2019</span>
            </time>
            <div class="timeline-icon bg-purple">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Team meeting</h3>
                <span class="d-block text-muted fs-12">5 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card">
        <div class="timeline-body">
            <time class="time">
                <span>Sunday</span>
                <span>14 March 2019</span>
            </time>
            <div class="timeline-icon bg-primary">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Project meeting</h3><span class="d-block text-muted fs-12">10 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card left-aligned">
        <div class="timeline-body">
            <time class="time">
                <span>Monday</span>
                <span>15 March 2019</span>
            </time>
            <div class="timeline-icon bg-success">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Project deadline</h3>
                <span class="d-block text-muted fs-12">15 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card">
        <div class="timeline-body">
            <time class="time">
                <span>Wednesday</span>
                <span>16 March 2019</span>
            </time>
            <div class="timeline-icon bg-secondary">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Meeting with the client about the project.</h3><span class="d-block text-muted fs-12">5 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card left-aligned">
        <div class="timeline-body">
            <time class="time">
                <span>Tuesday</span>
                <span>17 March 2019</span>
            </time>
            <div class="timeline-icon bg-info">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Meeting with boss</h3>
                <span class="d-block text-muted fs-12">30 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card">
        <div class="timeline-body">
            <time class="time">
                <span>Tuesday</span>
                <span>20 March 2019</span>
            </time>
            <div class="timeline-icon bg-warning">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Meeting with boss</h3>
                <span class="d-block text-muted fs-12">40 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card left-aligned">
        <div class="timeline-body">
            <time class="time">
                <span>Thursday</span>
                <span>25 March 2019</span>
            </time>
            <div class="timeline-icon bg-danger">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>Cancel company tour</h3>
                <span class="d-block text-muted fs-12">50 minutes ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card">
        <div class="timeline-body">
            <time class="time">
                <span>Friday</span>
                <span>30 March 2019</span>
            </time>
            <div class="timeline-icon bg-info">
                <i data-feather="calendar" class="icon"></i>
            </div>
            <div class="timeline-label">
                <h3>End of the week</h3>
                <span class="d-block text-muted fs-12">2 hours ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </article>

    <article class="timeline-card begin">
        <div class="timeline-body">
            <div class="timeline-icon">
                <i class="entypo-flight"></i>
            </div>
        </div>
    </article>
</div>
<!-- End time line -->
