<div class="auth-wrapper">
  <!-- LEFT -->
  <div class="auth-left">
    <div class="brand">
      <img src="assets/img/tav-logo.png" class="logo" alt="TAV" />
      <h3>Plateforme Opérations</h3>
      <p>
        Gestion des interventions, fournisseurs, commande et service interne.
      </p>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="auth-right">
    <div class="auth-card">
      <h1>Connexion</h1>

      <label>E-Mail</label>
      <input type="email" placeholder="exemple@email.com" />

      <label>Mot De Passe</label>
      <input type="password" placeholder="********" />

      <button class="btn-primary">Se connecter</button>

      <a class="forgot" routerLink="/forgot-password">Mot de passe oublié ?</a>
    </div>
  </div>
</div>