<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Profile</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard-sales">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Profile</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Profile -->
<div class="row">
    <div class="col-lg-12">
        <div class="profile-header mb-30">
            <img src="assets/img/user/1.jpg" alt="Profle" class="rounded-circle">
            <h3 class="name mt-3">Aaron Rossi</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="profile-stats">
                <a href="#">
                    <strong>587</strong>
                    Posts
                </a>
                <a href="#">
                    <strong>963</strong>
                    Following
                </a>
                <a href="#">
                    <strong>576</strong>
                    Followers
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="profile-left-content">
            <div class="card mb-30">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Info</h5>
                    </div>

                    <ul class="info">
                        <li>
                            <i data-feather="map-pin" class="icon"></i>
                            Location: Canada
                        </li>
                        <li>
                            <i data-feather="edit" class="icon"></i>
                            Language: English
                        </li>
                        <li>
                            <i data-feather="calendar" class="icon"></i>
                            Joined: Joined March 2019
                        </li>
                        <li>
                            <i data-feather="calendar" class="icon"></i>
                            Birthday: Born March 2, 1995
                        </li>
                        <li>
                            <i data-feather="phone" class="icon"></i>
                            Phone: +0 (123) 456 7892
                        </li>
                        <li>
                            <i data-feather="mail" class="icon"></i>
                            Email: example@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="profile-middle-content mb-30">
            <div class="post-card">
                <div class="media">
                    <img src="assets/img/user/1.jpg" alt="User" class="mr-3 rounded-circle" width="50" height="50">
                    <div class="media-body">
                        <h5><a href="#">There are many variations of passages of Lorem Ipsum</a></h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <a href="#">
                            <img src="assets/img/post/post-img.jpg" alt="Post Image">
                        </a>
                        <div class="feed-back mt-3">
                            <a href="#">
                                <i data-feather="message-square" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="thumbs-up" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="share-2" class="icon"></i>
                                897
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-card">
                <div class="media">
                    <img src="assets/img/user/2.jpg" alt="User" class="mr-3 rounded-circle" width="50" height="50">
                    <div class="media-body">
                        <h5><a href="#">There are many variations of passages of Lorem Ipsum</a></h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <a href="#">
                            <img src="assets/img/post/post-img2.jpg" alt="Post Image">
                        </a>
                        <div class="feed-back mt-3">
                            <a href="#">
                                <i data-feather="message-square" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="thumbs-up" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="share-2" class="icon"></i>
                                897
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-card">
                <div class="media">
                    <img src="assets/img/user/3.jpg" alt="User" class="mr-3 rounded-circle" width="50" height="50">
                    <div class="media-body">
                        <h5><a href="#">There are many variations of passages of Lorem Ipsum</a></h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <a href="#">
                            <img src="assets/img/post/post-img3.jpg" alt="Post Image">
                        </a>
                        <div class="feed-back mt-3">
                            <a href="#">
                                <i data-feather="message-square" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="thumbs-up" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="share-2" class="icon"></i>
                                897
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="profile-right-content">
            <div class="card mb-30">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Connect</h5>
                    </div>

                    <div class="connecting-list">
                        <div class="media">
                            <a href="#">
                                <img src="assets/img/user/1.jpg" alt="User" class="mr-2 rounded-circle" width="35" height="35">
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Amber Gibs</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="assets/img/user/2.jpg" alt="User" class="mr-2 rounded-circle" width="35" height="35">
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Carl Roland</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="assets/img/user/3.jpg" alt="User" class="mr-2 rounded-circle" width="35" height="35">
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Paul Wilson</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="assets/img/user/4.jpg" alt="User" class="mr-2 rounded-circle" width="35" height="35">
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Alice Jenkins</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="assets/img/user/5.jpg" alt="User" class="mr-2 rounded-circle" width="35" height="35">
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Lauren Cox</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Profile -->
