<div class="row container_mtpe">
    <div class="info">
        <div class="card-body">
            <h3 class="card-title">La maison des TPE</h3>
            <p class="card-text">
                Une gamme complète des services à destination de très petites
                entreprises Ouvert aujourd'hui jusqu'à 18:00
            </p>
        </div>
        <button class="button_cercle" (click)="goToCreate('/creer')">
            Create Account
        </button>
    </div>

    <div class="circle">
        <div class="icon_mtpe">
            <img
                src="../../../assets/img/mtpe_bg.png"
                width="218"
                height="218"
                style="margin: -30px; margin-top: -46px; margin-right: -34px"
            />

            <ul class="menu">
                <div class="rotate1">
                    <li class="spread">
                        <a class="unit blue" href="#">service 1</a>
                    </li>

                    <li class="spread">
                        <a class="unit green" href="#">service 2</a>
                    </li>

                    <li class="spread">
                        <a class="unit red" href="#">service 3</a>
                    </li>

                    <li class="spread">
                        <a class="unit purple" href="#">service 4</a>
                    </li>

                    <li class="spread">
                        <a class="unit orange" href="#">service 5</a>
                    </li>
                    <li class="spread">
                        <a class="unit lightblue" href="#">service 6</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
