<!-- Signup Area -->
<div class="auth-main-content auth-bg-image">
    <div class="d-table">
        <div class="d-tablecell">
            <div class="auth-box">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="form-left-content">
                            <div class="auth-logo">
                                <a routerLink="/">
                                    <img src="assets/img/large-logo.png" alt="Logo">
                                </a>
                            </div>

                            <div class="login-links">
                                <a class="fb" href="#">
                                    <i data-feather="facebook" class="icon"></i>
                                    Sign Up with Facebook
                                </a>
                                <a class="twi" href="#">
                                    <i data-feather="twitter" class="icon"></i>
                                    Sign Up with Twitter
                                </a>
                                <a class="ema" href="#">
                                    <i data-feather="mail" class="icon"></i>
                                    Sign Up with Email
                                </a>
                                <a class="linkd" href="#">
                                    <i data-feather="linkedin" class="icon"></i>
                                    Sign Up with Linkedin
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-content">
                            <h1 class="heading">Sign Up</h1>
                            <form class="">
                                <div class="form-group">
                                    <label>Your name</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Signup Area -->
