<!-- Side Menu -->
<div class="sidemenu-area default">
    <nav class="sidemenu navbar navbar-expand navbar-light">
        <div class="navbar-collapse collapse">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="grid" class="icon"></i>
                            <span class="title">
                                Dashboard
                                <i
                                    data-feather="chevron-right"
                                    class="icon fr"
                                ></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/dashboard-sales"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Sales
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/dashboard-eCommerce"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            eCommerce
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/dashboard-analytics"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Analytics
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/dashboard-crm"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            CRM
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/dashboard-project"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Project
                        </a>
                    </div>
                </div>

                <a
                    class="nav-link"
                    routerLink="/inbox"
                    routerLinkActive="active"
                >
                    <i data-feather="inbox" class="icon"></i>
                    <span class="title">Inbox</span>
                </a>

                <a
                    class="nav-link"
                    routerLink="/chat"
                    routerLinkActive="active"
                >
                    <i data-feather="message-square" class="icon"></i>
                    <span class="title">Chat</span>
                </a>

                <a
                    class="nav-link"
                    routerLink="/todos"
                    routerLinkActive="active"
                >
                    <i data-feather="check-square" class="icon"></i>
                    <span class="title">Todo List</span>
                </a>

                <a
                    class="nav-link"
                    routerLink="/notes"
                    routerLinkActive="active"
                >
                    <i data-feather="file-text" class="icon"></i>
                    <span class="title">Notes</span>
                </a>

                <a
                    class="nav-link"
                    routerLink="/search"
                    routerLinkActive="active"
                >
                    <i data-feather="search" class="icon"></i>
                    <span class="title">Search</span>
                </a>

                <div class="nav-item dropdown super-color">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="filter" class="icon"></i>
                            <span class="title">
                                UI Components
                                <i
                                    data-feather="chevron-right"
                                    class="icon fr"
                                ></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/alerts"
                            routerLinkActive="active"
                        >
                            <i data-feather="bell" class="icon"></i>
                            Alerts
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/badges"
                            routerLinkActive="active"
                        >
                            <i data-feather="award" class="icon"></i>
                            Badges
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/buttons"
                            routerLinkActive="active"
                        >
                            <i
                                data-feather="arrow-right-circle"
                                class="icon"
                            ></i>
                            Buttons
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/cards"
                            routerLinkActive="active"
                        >
                            <i data-feather="layers" class="icon"></i>
                            Cards
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/dropdowns"
                            routerLinkActive="active"
                        >
                            <i
                                data-feather="arrow-down-circle"
                                class="icon"
                            ></i>
                            Dropdowns
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/forms"
                            routerLinkActive="active"
                        >
                            <i data-feather="file-text" class="icon"></i>
                            Forms
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/list-groups"
                            routerLinkActive="active"
                        >
                            <i data-feather="list" class="icon"></i>
                            List Groups
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/modals"
                            routerLinkActive="active"
                        >
                            <i data-feather="airplay" class="icon"></i>
                            Modals
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/progress-bars"
                            routerLinkActive="active"
                        >
                            <i data-feather="trending-up" class="icon"></i>
                            Progress Bars
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/tables"
                            routerLinkActive="active"
                        >
                            <i data-feather="database" class="icon"></i>
                            Tables
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/ui-components/tabs"
                            routerLinkActive="active"
                        >
                            <i data-feather="triangle" class="icon"></i>
                            Tabs
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="user" class="icon"></i>
                            <span class="title">
                                User
                                <i
                                    data-feather="chevron-right"
                                    class="icon fr"
                                ></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            target="_blank"
                            routerLink="/auth/signup"
                            routerLinkActive="active"
                        >
                            <i data-feather="user-plus" class="icon"></i>
                            Sign Up
                        </a>

                        <a
                            class="dropdown-item"
                            target="_blank"
                            routerLink="/auth/signin"
                            routerLinkActive="active"
                        >
                            <i data-feather="user-check" class="icon"></i>
                            Signin
                        </a>

                        <a
                            class="dropdown-item"
                            target="_blank"
                            routerLink="/auth/forgot-password"
                            routerLinkActive="active"
                        >
                            <i data-feather="unlock" class="icon"></i>
                            Forgot Password
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="bar-chart-2" class="icon"></i>
                            <span class="title">
                                Charts
                                <i
                                    data-feather="chevron-right"
                                    class="icon fr"
                                ></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/charts/line-charts"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Line Charts
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/charts/area-charts"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Area Charts
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/charts/column-charts"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Column Charts
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/charts/bar-charts"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Bar Charts
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/charts/mixed-charts"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Mixed Charts
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/charts/pie-donuts-charts"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Pie and Donuts Charts
                        </a>
                    </div>
                </div>

                <div class="dropdown nav-item">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="heart" class="icon"></i>
                            <span class="title">
                                Icons
                                <i
                                    data-feather="chevron-right"
                                    class="icon fr"
                                ></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/icons/feather-icons"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Feather Icons
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/icons/line-icons"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Line Icons
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/icons/icofont-icons"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Icofont Icons
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="file-text" class="icon"></i>
                            <span class="title">
                                Pages
                                <i
                                    data-feather="chevron-right"
                                    class="icon fr"
                                ></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/others/users-card"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Users Card
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/notifications"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            <span class="title">Notifications</span>
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/timeline"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Timeline
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/invoice-template"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Invoice Template
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/gallery"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Gallery
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/faq"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Faq
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/pricing"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Pricing
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/profile"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Profile
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/profile-settings"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Profile Settings
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/error-404"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Error 404
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- End Side Menu -->
