<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Apex Charts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Apex Area Charts</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Basic Area Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-apex-area-chart></app-apex-area-chart>
    </div>
</div>

<!-- Spline Area Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-spline-area-chart></app-spline-area-chart>
    </div>
</div>

<!-- Negative Area Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-negative-area-chart></app-negative-area-chart>
    </div>
</div>

<!-- Stacked Area Chart -->
<div class="row">
    <div class="col-lg-12">
        <app-stacked-area-chart></app-stacked-area-chart>
    </div>
</div>
